<header class="cover" style="background-image: url({{@blog.cover}});">

    <div class="cover-content">
<!--        Checks to sell if there is a logo-->
        {{#if @blog.logo}}
        <a href="{{@blog.url}}" class="logo" title="{{@blog.title}}"><img src="{{@blog.logo}}" width="80" alt="{{@blog.title}}"/></a>
        {{/if}}
        
        <h1 class="cover-title"><a href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a></h1>
        <hr class="divder cover-divider"></hr>
        <h2 class="cover-description" title="{{@blog.description}}">
            {{@blog.description}}
        </h2>
        <hr class="divder cover-divider"></hr>
        <div class="cover-social">
            {{!social icons}}
        
            {{> social }}
        
            {{!/social icons}}
        </div>
        
        <a href="#content" class="scroll"><i class="fa fa-arrow-circle-down"></i> </a>
    </div>
    
</header>
